body {
  margin: 0;
  background-color: #33627c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  height: 100%;
  min-height: 800px;
  width: 600px;
  margin: 0 auto;
  background-color: #c0673e;
}

.App h1 {
  color: #c1c1c1;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #dfdddd;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 75px;
  width: 75px;
  border-radius: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.question {
  width: 100%;
  max-width: 400px;
  height: 150px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  cursor: pointer;
}

.questions-results {
  width: 100%;
  max-width: 400px;
  height: 300px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  cursor: pointer;
}

.question-author-info {
  height: 100%;
  width: 120px;

  border-radius: 3px;
}

.question-intro p {
  padding-left: 20px;
}

.question-intro button {
  margin-left: 20px;
  width: 200px;
  height: 30px;
  background-color: #c1c1c1;
}

.leaderboard {
  width: 100%;
  max-width: 400px;
  height: 150px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  cursor: pointer;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 5px;
  width: 400px;
  overflow: hidden;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}
