body {
  margin: 0;
  background-color: #33627c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  height: 100%;
  min-height: 800px;
  width: 600px;
  margin: 0 auto;
  background-color: #c0673e;
}

.App h1 {
  color: #c1c1c1;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 75px;
  width: 75px;
  border-radius: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.question {
  width: 100%;
  max-width: 400px;
  height: 150px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  cursor: pointer;
}

.question-author-info {
  height: 100%;
  width: 120px;

  border-radius: 3px;
}

.question-intro p {
  padding-left: 20px;
}

.question-intro button {
  margin-left: 20px;
  width: 200px;
  height: 30px;
  background-color: #c1c1c1;
}
